# Dependencies
node_modules
.pnpm-store

# Build
.next
out
dist
build
.turbo

# Env
.env
.env.local
.env.*.local

# Prisma
prisma/*.db

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*
*.log

# Test
coverage
playwright-report
test-results

# Vercel
.vercel

# Firebase
firebase-service-account.json
*-firebase-adminsdk-*.json

# Misc
*.tsbuildinfo
